/* styles.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Arial";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard */
}

body {
  margin: 0;
  padding: 0;
  background: url("sampler-bg.png") no-repeat center center;
  background-size: 100% 100%; /* Ensures the image fits the page size */
  display: flex;
}

.vu-meter-wrapper {
  position: absolute;
  top: 278px;
  left: 54px;
  border: 1px solid #414141;
}

.vu-meter-bg {
  background-image: url("vu-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 104px;
}
.vu-meter-cover {
  background-image: url("vu-cover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 104px;
  margin-bottom: -104px;
  z-index: 2;
  position: relative;
}

.vu-meter-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 175px; /* Adjust the value as needed */
  height: 100px; /* Adjust the value as needed */
  bottom: 1px;
}

canvas {
  position: absolute;
  top: 250;
  left: 0;
  width: 175px;
  height: 104px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #555;
}

.title {
  flex: 1;
}

.dropdown {
  position: absolute;
  top: 37px; /* Adjust the value as needed */
  left: 0px;
  right: 0;
  flex: 1;
  text-align: center;
}

.dropdown select {
  font-size: 9px; /* Adjust the value as needed */
  width: 140px; /* Adjust the value as needed */
  height: 24px; /* Adjust the value as needed */
}

#presets {
  background: #111;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #414141;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-bottom: 2px solid #555;
}

.bottom-section {
  display: flex;
  flex: 1;
}

.left-section,
.right-section {
  flex: 1;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.label {
  text-align: center;
}

.audio-meter {
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #fff;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom: none;
  background: linear-gradient(to bottom, #555, #222);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.needle {
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: red;
  top: 0%;
  left: 50%;
  transform-origin: center bottom;
  transform: rotate(-90deg); /* Start from the left side */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.tick {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform-origin: center bottom;
}

.knob-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 37px;
  /*margin-top: 50px;*/
}

.knob-container-border {
  width: 290px;
  height: 75px;
  position: absolute;
  border: 1px solid #414141;
  bottom: 12px;
  border-radius: 3px;
  background: #101010;
}

legend.text {
  font-size: 9px;
  color: #fff;
  font-variant-caps: titling-caps;
  margin: 0 auto;
  letter-spacing: 1px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  zoom: 1.7;
}

.envelope-knob-section {
  position: absolute;
  top: 75px; /* Adjust the value as needed */
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.effect-knob-section {
  position: absolute;
  top: 175px; /* Adjust the value as needed */
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.output-knob-section {
  position: absolute;
  top: 278px; /* Adjust the value as needed */
  right: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.output-knob {
  background-image: url("knob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.output-knob-steps {
  background-image: url("knob-steps.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 76px;
  height: 79px;
  position: fixed;
  margin-top: -15px;
}

.output-knob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-knob-label {
  margin-top: 10px;
  font-size: 7px;
  color: #fffae5;
  letter-spacing: 1px;
  text-align: center; /* Center the text horizontally */
  z-index: 1;
}

.knob {
  background-image: url("knob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.knob:hover,
.knob.active {
  transform: scale(1.1); /* Scale up the knob */
  /* box-shadow: 0 0 10px rgba(248, 247, 247, 0.5); Add a shadow effect */
}

.knob-steps {
  background-image: url("knob-steps.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 62px;
  position: fixed;
  margin-top: -13px;
}

.knob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knob-label {
  margin-top: 10px;
  font-size: 7px;
  color: #fffae5;
  letter-spacing: 1px;
  text-align: center; /* Center the text horizontally */
  z-index: 1;
}

.knob .tick {
  width: 2px;
  height: 7px;
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
