/* styles.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Arial";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard */
  background: url("sampler-bg-logo.png") no-repeat center center;
  background-size: 100% 100%; /* Ensures the image fits the page size */
}

.vu-meter-wrapper {
  position: absolute;
  top: 250px;
  left: 44px;
  border: 1px solid #414141;
  zoom: 1.1;
}

.vu-meter-bg {
  background-image: url("vu-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 104px;
}
.vu-meter-cover {
  background-image: url("vu-cover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 104px;
  margin-bottom: -104px;
  z-index: 2;
  position: relative;
}

.vu-meter-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 100px;
  bottom: 1px;
}

canvas {
  position: absolute;
  top: 250;
  left: 0;
  width: 175px;
  height: 104px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #555;
}

.title {
  flex: 1;
}

.dropdown {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0;
  flex: 1;
  text-align: right;
  padding-right: 63px;
}

.dropdown select {
  font-size: 9px;
  width: 140px;
  height: 24px;
}

#presets {
  background: #2c1a1a;
  color: #f23f3f;
  border-radius: 4px;
  border: 1px solid #414141;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  padding: 4px 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #f23f3f 50%),
    linear-gradient(135deg, #f23f3f 50%, transparent 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  text-shadow: 0 0 5px rgba(196, 132, 132, 0.5);
  width: 165px;
  height: 24px;
  font-size: 10px;
  letter-spacing: 1px;
}

#presets:focus {
  outline: none;
}

#presets option {
  background: #2c1a1a;
  color: #c48484;
  font-size: 10px;
  letter-spacing: 1px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-bottom: 2px solid #555;
}

.bottom-section {
  display: flex;
  flex: 1;
}

.left-section,
.right-section {
  flex: 1;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.label {
  text-align: center;
}

.audio-meter {
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #fff;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom: none;
  background: linear-gradient(to bottom, #555, #222);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.needle {
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: red;
  top: 0%;
  left: 50%;
  transform-origin: center bottom;
  transform: rotate(-90deg);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.gain-knob .tick {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #000;
  top: 0;
  left: 50%;
  transform-origin: center bottom;
}

.knob-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 37px;
}

.filter-knob-section {
  position: absolute;
  top: 358px;
  right: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  zoom: 0.75;
}
.filter-knob-container {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 41px;
}

.knob-container-border {
  width: 290px;
  height: 75px;
  position: absolute;
  border: 1px solid #414141;
  bottom: 12px;
  border-radius: 8px;
  background: #101010;
}

legend.text {
  font-size: 9px;
  color: #fff;
  font-variant-caps: titling-caps;
  margin: 0 auto;
  letter-spacing: 1px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  zoom: 1.7;
}

.envelope-knob-section {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.effect-knob-section {
  position: absolute;
  top: 169px;
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.gain-knob-section {
  position: absolute;
  top: 311px;
  right: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  padding: 20px;
}

.gain-knob {
  background-image: url("knob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gain-knob-steps {
  background-image: url("knob-steps.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 66px;
  height: 70px;
  position: fixed;
  margin-top: -15px;
}

.gain-knob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gain-knob-label {
  margin-top: 10px;
  font-size: 6px;
  color: #fffae5;
  letter-spacing: 1px;
  text-align: center; /* Center the text horizontally */
  z-index: 1;
}

.knob {
  background-image: url("knob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.knob:hover,
.knob.active {
  transform: scale(1.1); /* Scale up the knob */
  /* box-shadow: 0 0 10px rgba(248, 247, 247, 0.5); Add a shadow effect */
}

.knob-steps {
  background-image: url("knob-steps.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 62px;
  position: fixed;
  margin-top: -13px;
}

.knob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knob-label {
  margin-top: 10px;
  font-size: 7px;
  color: #fffae5;
  letter-spacing: 1px;
  text-align: center; /* Center the text horizontally */
  z-index: 1;
}

.knob .tick {
  width: 2px;
  height: 7px;
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
